<head>
  <title>myapp</title>
</head>

<body>  
  {{> messages}}
</body>

<template name="hello">
  <h1>Hello World!</h1>
  {{greeting}}
  <input type="button" value="Click" />
</template>

<template name="messages">
  <h1>Messages</h1>
  {{#each messages}}
    {{message}} <a href="#" class="remove" data-id="{{_id}}">remove</a><br />
  {{/each}}
  <br />
  <input type="text" class="add-message" autofocus />
</template>